body {
    margin: 0;
    background-color: #f1ecd89a;
}

iframe {
    margin: 0;
    width: 100%;
    height: 310px;
    box-sizing: border-box;
    border: none;
}

main {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
}

@media(max-width: 455px) {
    iframe {
        height: 260px;
    }
}

@media(max-width: 360px) {
    iframe {
        height: 255px;
    }
}