body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1ecd89a;
}

.topo{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.logo-pq {
    padding: 18px 0 0 5px; 
    width: 200px;
}

/* caso não consiga a fonte da logo para 
apresentar usarei a imagem da logo
.logo-pq img {
    width: 200px; 
}*/

.contatos {
    min-width: 150px;
    display: flex;
    flex-direction: column;

}

.contatos a {
    margin: 2px;
    display: flex;
    text-decoration: none;
    color: #7c2b38;
}

.contatos a img {
    width: 20px;
    height: 20px;
}

.tel {
    width: 140px;
    /* height: 22px; */
    display: inline-block;
}

.imagem {
    width: 100%;
    height: 200px;
    background-color: #7c2b38;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    width: 90%;
    max-width: 600px;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    list-style: none;
}

li a {
    padding: 10px;
    margin: 10px 12px 0 12px;
    text-decoration: none;
    border-radius: 5px;
    color: #7c2b38;
    border: 1px solid #7c2b38;
    font-size: 20px;
}

li a:hover {
    background-color: #7c2b38;
    color: #f1ecd8;
}

    /* Responsividade para celulares pequenos */
@media(max-width: 455px){
    .topo {
        display: none;
    }

    li a{
        margin: 10px 5px 0 5px;
        padding: 8px;
        font-size: 18px;
    }
}

@media(max-width: 360px){
    li a {
        margin: 10px 3px 0 3px;
        font-size: 16px;
    }
}